/* Start Vars */
:root {
  --main-color:#cb151c;
  --section-padding:100px;
  --trans-color: rgb(255 0 0 / 0.673);
  --co:#222327;
}
/* End Vars */

/* Start Global Rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior:smooth;
}
::-webkit-scrollbar {
  width: 0;

}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Shizuru', cursive;
    font-family: 'Work Sans', sans-serif;
}

ul{
    list-style: none;
}

.container{
    padding: 0 15px ;
    margin : 0 auto ;
    width: 300px;
 } 
                                                                    /* small-screen */
 @media (min-width: 768px){
   .container{
      width: 750px;
   }
   }
                                                                    /* medium-screen */
 @media (min-width: 991px){
          .container{
        width: 970px;
     }
   }
                                                                  /* large-screen */
 @media (min-width: 1200px){
        .container{
      width: 1170px;
   }
  }
                                                                   /* X large-screen */
 @media (min-width: 1400px){
        .container{
      width: 1370px;
   }
}

/* End  Global Rules */


/* Start Header */
header {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: var(--co);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .logo img {
  width: 130px;
  margin-top: 15px;
}
header .container .navigation {
  width: 270px;
  height: 60px;
  transform: translate(0px, 10px);
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
 }
 header .container .navigation ul {
   display: flex;
   width: 270px;
   justify-content: center;
 }
 header .container .navigation ul li {
  position: relative;
  list-style: none;
  width: 35px;
  height: 50px;
  z-index: 1;
 }
 header .container .navigation ul li a {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   font-weight: 700;
   text-decoration: none;
 }
 header .container .navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  color: var(--co);
  transition: .5s;
 }
 header .navigation ul li:hover a .icon {
   transform: translateY(-27px);
 }
 header .navigation ul li:hover ~.indi {
  display:block;
 }
 header .navigation ul li:hover ~.navigation {
   border: 2px solid black;
 }
 header .container .navigation ul li a .text {
  position: absolute;
  bottom: 20%;
  color: var(--co);
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 1px;
  transition: .5s;
  opacity: 0;
 }
 header .navigation ul li:hover a .text {
   opacity: 1;
   transform: translateY(10px);
 }
 header .navigation ul .indi {
   position: absolute;
   top: -40%;
   left: 23px;
   width: 50px;
   height: 50px;
   background-color: var(--main-color);
   border-radius: 50%;
   border: 5px solid var(--co);
   transition: .8s;
   display: none;
 }
 header .navigation ul .indi::before {
  content: "";
  position: absolute;
  top: 47%;
  right: -16px;
  width: 13px;
  height: 19px;
  background: transparent;
  border-top-left-radius: 25px;
  box-shadow: -1px -10px 0 0 var(--co);
}
header .navigation ul .indi::after {
  content: "";
  position: absolute;
  top: 47%;
  left: -16px;
  width: 13px;
  height: 19px;
  background: transparent;
  border-top-right-radius: 25px;
  box-shadow: 1px -10px 0 0 var(--co);
}


@media (min-width:4500px) {
  header {
    height: 200px;
  }
  header .logo {
    transform: translate(-50px,15px);
    z-index: 1;
    display: block;
  }
  header .logo img {
    height: 140px;
    width: 190px;
  }
  header .container .navigation {
    width: 650px;
    height: 120px;
    transform: translate(-70px, 20px);
  }
  header .container .navigation ul {
    width: 650px;
    justify-content: space-evenly;
    margin: auto 30px;

  }
  header .container .navigation ul li {
    width: 100px;
    height: 60px;
  }
  header .container .navigation ul li a .icon {
    line-height: 60px;
    font-size: 45px;
  }
  header .container .navigation ul li a .text {
    font-size: 30px;
    letter-spacing: 2px;
    bottom: -15%;
  }
  header .navigation ul li:hover a .icon {
    transform: translateY(-56px);
  }
  header .navigation ul .indi {
    top: -32%;
    left: 33px;
    width: 80px;
    height: 80px;
  }
  header .navigation ul .indi::before {
    top: 46%;
  }
  header .navigation ul .indi::after {
    top: 46%;
  }

  header .navigation ul li:nth-child(1):hover ~.indi{
    transform: translateX(calc(101px * 0))!important;
  }
  header .navigation ul li:nth-child(2):hover ~.indi {
    transform: translateX(calc(101px * 1))!important;
  }
  header .navigation ul li:nth-child(3):hover ~.indi {
    transform: translateX(calc(101px * 2))!important;
  }
  header .navigation ul li:nth-child(4):hover ~.indi {
    transform: translateX(calc(101px * 3))!important;
  }
  header .navigation ul li:nth-child(5):hover ~.indi {
    transform: translateX(calc(101px * 4))!important;
  }
  header .navigation ul li:nth-child(6):hover ~.indi {
    transform: translateX(calc(101px * 5))!important;
  }




 }





 
 
 header .navigation ul li:nth-child(1):hover ~.indi {
   transform: translateX(calc(35px * 0));
 }
 header .navigation ul li:nth-child(2):hover ~.indi {
   transform: translateX(calc(35px * 1));
 }
 header .navigation ul li:nth-child(3):hover ~.indi {
   transform: translateX(calc(35px * 2));
 }
 header .navigation ul li:nth-child(4):hover ~.indi {
   transform: translateX(calc(35px * 3));
 }
 header .navigation ul li:nth-child(5):hover ~.indi {
   transform: translateX(calc(35px * 4));
 }
 header .navigation ul li:nth-child(6):hover ~.indi {
   transform: translateX(calc(35px * 5));
 }





/* header nav ul {
  transition: 1s;
  display: flex;
} */
header nav ul li a .active,
 header nav ul li a:hover {
   color:var(--main-color);
  }

 header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 800;
  transition: .5s;
  padding: 37px 15px;
  position: relative;
  z-index: 1;
 }
 header nav ul li a .active,
 header nav ul li a:hover {
   color:var(--main-color);
 }
 @media (max-width:767px) {
  header .logo {
    display: none;
  }
 }
/* End Header */



/* Strat Landing */
.landing{
  min-height: 100vh;
  background-image: url(../images/bird.jfif);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 30px;
  background-color: rgba(255, 0, 0, 0.473);
  color: white;
  display: flex;
  justify-content: flex-start;
}
.landing .text .content {
  max-width: 500px;
}
@media(max-width:767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}

.landing .text .content h2 {
  font-size: 25px;
  line-height: 1.6;
  font-weight: 900;
  margin-bottom: 25px;
  }
.landing .text .content p {
  
  font-size: 15px;
  font-weight: 600;
  line-height: 1.8;
  letter-spacing: 1.8px;
}
.landing .change-back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 25px;
  font-weight: 800;
}
.landing .fa-angle-left {
  left: 10px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  display:flex;
  
}
.landing .bullets li {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 50%;

}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);

}


/* End Landing */


/*Start Main-Heading */
.main-heading {
  text-align: center;
}  
.main-heading h2 {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  margin: 40px auto;
  position: relative;
  margin-bottom: 100px;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 4px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
.main-heading h2::after {
  content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: white;
    bottom: -30px;   
}
.main-heading p{
    font-size: 20px;
    margin: 0 auto 100px;
    width: 65%;
    max-width: 100%;
}
/*End Main-Heading */


/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width:768px) {
.services .services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(450px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
}

.services .srv-box {
  display: flex;
  text-align: center;

}
.services .srv-box i {
  margin-right: 50px;
  position: relative;
  top: -5%;
  left: 20%;
}
@media (max-width:767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .srv-box i {
    margin: 30px 10px 40px 0;
    transform: translateX(-17%);
  }
}
.services .srv-box h3 {
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 30px;
  font-size: 30px;
  
}
.services .srv-box p {
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}
/* End Services */
/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/respo.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1300px;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width:1200px) {
  .design {
    height: 1000px;
  }
}
@media (max-width:991px) {
  .design {
    height: 800px;
  }
}
@media (max-width:768px) {
  .design {
    height: 600px;
  }
}
.design::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
}

.design .text {
  background-color: rgb(255 0 0 / 0.673);
  color: white;
  font-size: 20px;
  width: 50%;
  text-align: left;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
@media (max-width:767px) {
  .design .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    
  }

}
.design .text h2 {
  font-size: 25px;
  line-height: 1.6;
  font-weight: 900;
  text-align: center;
  padding: 15px;
  color: whitesmoke;
}
.design .text ul {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #333;
}
.design .text ul li {
  padding: 15px 0;
  letter-spacing: -1px;
  font-size: 19px;
  font-weight: 600;
}
.design .text ul li::before {
  
  font-family: 'Font Awesome 5 Free';
  content: "\f108";
  font-weight: 900;
  margin-right: 5%;
  padding: 20px;
}

/* End Design */

/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .container .shuffle {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.portfolio .container .shuffle .active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .container .shuffle li {
  padding: 10px;
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;

}
@media (max-width:300px) {
  .container{
    width: 280px;
  }
  .portfolio .container .shuffle {
    display: block;
    padding: 10px;
    justify-content: center;
}
.landing .text {
  width: 100%;
  height: 74.5%;
}
header .container .logo {
  display: none;
}
header .container .navigation {
  transform: translate(-10px, 0px);
}

}
@media (min-width:768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width:1199px) {
.portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  filter: blur(5px) grayscale(100%);
  transition: 0.5s;

}
.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  background-color: white;
  color: black;
  transition: 0.3s;
  max-width: 100%;
  text-align: center;
}
.portfolio .imgs-container .box:hover  .caption {
  bottom: 0;
  transition: 1s;
  transition-delay: .3s;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(-5deg) scale(1.2);
  filter: none;
}
.portfolio .imgs-container .box:hover .left  {
  transform: rotate(5deg) scale(1.2);
  filter: none;
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: bold;
  margin-bottom: 5px;
}
.portfolio .imgs-container .box .caption p {
  color: var(--main-color);
  font-weight: bold;

}
.portfolio .more {
  margin-top: 60px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  margin: 25px auto;
  display: block;
  width: fit-content;
  text-transform: uppercase;
  ;
}
/* End Portfolio */


/* Start Video */
.video {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom:var(--section-padding) ;
}

.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  width: 100%;
  top: 20%;
  text-align: center;
  background-color: rgb(255 0 0 / 0.473);
  color: white;
}
.video .text h2 {
  margin-top: 20px;
  padding: 15px;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: 800;
}
.video .text p {
  margin-bottom: 40px;  
}
.video a {
  margin-bottom: 20px;
  color: white;
  background-color: black;
  border: none;
  text-transform: uppercase;
  padding: 10px 15px;
  text-decoration: none;
  position: relative;
  bottom: 20px;
}
/* End Video */
/* Start About  */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

}
.about img {
  max-width: 100%;
  margin-bottom: 30px;
}
/* End About  */

/* Start Stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url(../images/wallpaper-game\ div.png);
  background-attachment: fixed;
  background-size: cover; 
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.673);
}

.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stats .container .box {
  
  background-color: var(--trans-color);
  color: white;
  width: 100%;
  padding: 50px;
  border-radius: 20px;
  margin-left: 50px;
  margin-bottom: 50px;
  position: relative;
  top: 50%;
  right: -3%;
  transform: translateY(15%);
}
@media (max-width:767px) {
  .stats .container .box {
    flex-basis: 100%;
    right: 50%;
    transform: translateX(50%);
  }  
}
@media (min-width:768px) {
  .stats .container .box {
    flex-basis: 40%;
    right: 0%;
    transform: translateY(15%);
   
  }  
}
@media (min-width:992px) {
  .stats .container .box {
    flex-basis: 18%;
    right: 0%;
    transform: translateY(15%);
  }  
}
@media (min-width:1200px) {
  .stats .container .box {
    flex-basis: 18%;
    right: -5%;
    transform: translateY(15%);
  }  
}
.stats .container .box i {
  display: flex;
  width: 60px;
  height: 60px;
  font-size: 25px;
  background-color: black;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.stats .container .box .number {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}
.stats .container .box p {
  font-family: monospace;
  font-size: 15px;
}

/* End Stats */



/*Start Skills */


.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width:992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  margin: 0 0  30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-family: monospace;
  font-size: 20px;
}
.our-skills .container > div > p {
  margin: 0 0 20px;
  text-align: center;
  color: #777;
  line-height: 1.8;
}
.our-skills .testimonials .content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.our-skills .testimonials .content img {
  width: 100px;
  height: 100px;
  align-items: center;
  border-radius: 50%;
  margin-right:  30px;
}
@media (max-width:767px) {
  .our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .testimonials .content img {
    width: 100px;
    height: 100px;
    align-items: center;
    border-radius: 50%;
    margin-right: 30px;
      
  }
  
}
.our-skills .testimonials .text {
  color: #777;
  line-height: 1.8;
  margin-top: 60px;
}
.our-skills .testimonials .text p{
  color: black;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
    margin-bottom: 20px;
    margin-top: 25px;
}
.our-skills .testimonials .bullets {
  
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.our-skills .testimonials .bullets li {
  width: 15px;
  height: 15px;
  background-color: transparent;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}
.our-skills .testimonials .bullets li:hover{
  background-color: var(--main-color);
}

.our-skills .testimonials .bullets li.active {
  background-color: var(--main-color);
  border: 1px solid ;
}
.our-skills .skills .prog-holder {
  margin-bottom: 50px;
  
}
.our-skills .skills .prog-holder h4 {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.our-skills .skills .prog-holder .prog {
  background-color: #eee;
  height: 35px;
}
.our-skills .skills .prog-holder .prog span {
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  height: 100%;
  background-color: var(--main-color);
  display: block;
  position: relative;
}
.our-skills .skills .prog-holder .prog span::after {
  content: attr(data-progress);
  animation-name: change-back;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-timing-function: ease-out;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: -50px;
  right: -35px;
  box-shadow: rgb(0 0 0) 0px 15px 30px 5px;


}

.our-skills .skills .prog-holder .prog span::before {
  content: "";
  position: absolute;
  top: -17px;
  right: -10px;
  border: 10px solid;
  border-color: black transparent transparent transparent;
  animation-name: change-border;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-timing-function:ease-out;
}
@keyframes move {
  0% {
    width: 0;
 }
 100% {
     width: attr(data-progress);
 }
 
}
@keyframes change-back {
  0% {
   background-color: transparent;
   color: transparent;
   box-shadow: none;
 }
  90% {
   background-color: transparent;
   color: transparent;
   box-shadow: none;
 }

 100% {
    
  background-color: black;
 }
 
}
@keyframes change-border {
  0% {
   border-color: transparent;
   
   
 }
  90% {
   border-color: transparent;
  
   
 }

 100% { 
  border-color: black transparent transparent transparent;
 }
}

/* End Skills */



/* Start Quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  position: relative;
  background-image: url(../images/q.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-weight: 800;
}
.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.673);
}
.quote .container {
  position: relative;
}
.quote q {
  font-size: 40px;
  margin: 50px;
  display: block;
}
.quote q::before {
  content: open-quote;
  color : var(--main-color);
  font-size: 50px;
  font-weight: 900;
  margin-right: 5%;
  padding: 20px;
  
}
.quote q::after {
  content: close-quote;
  color : var(--main-color);
  font-size: 50px;
  font-weight: 900;
  margin-right: 5%;
  padding: 20px;
}
.quote span {
  color: #777;
  font-weight: 800;
  font-size: 25px;
}

/* End Quote */



/* Start pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  text-align: center;
}
.pricing .plans .head {
  padding: 40px 30px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .head h3 {
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.pricing .plans .head span {
  font-size: 50px;
  font-weight: 700;
  position: relative;
}
.pricing .plans .head span::after {
  content: " /Week";
  FONT-SIZE: 15px;
  color: #777;
  position: absolute;
  bottom: 0px;
  right: -55px;
}

.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 30px;
  margin-top: 30px;                    
}
.pricing .plans .plan ul li {
  padding: 30px;
  margin-bottom: 30px;  
  position: relative;    
  height: 100px;             
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
    height: 1px;
    width: 140px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var( --main-color);
}
.pricing .plans .plan .foot a {
  border: 2px solid var(--main-color);
  padding: 15px 30px;
  text-decoration: none;
  width: fit-content;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin: 45px auto;
  display: block;
  border-radius: 15px;
}
.pricing .plans .plan .foot a:hover {
  background-color: var(--main-color);
  color: white;

}
@media (max-width:1200px) {
  .pricing .plans #plan {
    
  position: relative;
  left: 50%;
  transform: translateX(70%);
  }
}
@media (max-width:991px) {
  .pricing .plans #plan {
  position: relative;
  left: 0;
  transform: none;
  }
  .pricing .plans .plan ul li{
    height: 60px;
  }
}
.pricing .contact-text {
  text-align: center;
  font-size: 20px;
  margin: 30px auto;
  color: #777;
}
.pricing .contact-link  {
  border: 2px solid var(--main-color);
  padding: 15px 30px;
  text-decoration: none;
  width: fit-content;
  text-transform: uppercase;
  color: white;
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  margin: 45px auto;
  display: block;
  border-radius: 15px;
}
.pricing .contact-link:hover {
  border-radius: 20px;
  width: 220px;
  text-align: center;
  transform: translateY(10px);
}

@media (max-width:1200px) {
  .pricing .contact-link {
    
  position: relative;
  left: 3%;
  }
  .pricing .contact-text {
    position: relative;
    left: 5%;
  }
}
@media (max-width:991px) {
  .pricing .contact-text, 
  .pricing .contact-link {
  position: relative;
  left: 0;
  transform: none;
  }
}
.pricing .contact-link:hover {
  background-color: white;
  color: var(--main-color);
  color: black;
}

/* End pricing */



/* Strat Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/sub.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: white;

}
.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width:991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 600px;
  max-width: 100%;
}
.subscribe form::placeholder {
  color: white;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 30px;
}
.subscribe form input[type="email"]{
  background: none;
  border: 2px solid white;
  border-right: none;
  background: none;
  caret-color: var(--main-color);
  padding: 15px 15px 20px 65px;
  width: calc(100% - 130px);
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
}
.subscribe form  input[type="submit"]{
  width: 130px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-left: none;
  text-transform: uppercase;
  padding: 15px 20px;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe p {
  line-height: 2;
  margin-left: 50px;
  font-weight: 600;
}
@media (max-width:991px) {
  .subscribe p {
    margin: 40px 0 0;
    letter-spacing: 4px;
  }
}
/* end Subscribe */

/* Start Contact  */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width:767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}

.contact .content form .main-input {
  display: block;
  padding: 20px;
  width: 100%;
  margin: 30px auto;
  border: 2px solid var(--main-color);
}
@media (max-width:767px) {
  .contact .content form .main-input {
    margin: 0 auto 35px;
  }
}
.contact .content form textarea.main-input {
  height: 200px;
}

.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px 30px;
  margin: 30px auto;
  display: flex;
  outline: none;
  border: 1px solid;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
} 
@media (max-width:767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
    flex-basis: 45%;
  }
  .contact .content form input[type="submit"] {
    margin: 40px auto;
    transform: translateX(0);
  }
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin: 30px auto;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
} 
.contact .content .info .phone {
  display: block;
  font-size: 20px;
  margin: 25px auto;
  color: #777;
  letter-spacing: 4px;
  text-align: center;
} 
.contact .content .info h4:nth-of-type(2) {
  margin-top: 65px;
}
.contact .content .info address {
  line-height: 2;
  color: #777;
  margin: 30px;
  text-align: center;
} 
/* End Contact  */

/* Start Footer */
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-attachment:fixed;
  position: relative;
  color: white;
  text-align: center;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.footer .container {
   position: relative;
}
 .footer img {
  width: 370px;
 }
 @media (max-width:767px) {
  .footer img {
    width: 250px;
  }
 }
 .footer .container p:not(.copyright) {
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  width: fit-content;
  border-bottom: 1px solid white;
  margin: 30px auto;
 }
 .footer .container .social-icons i {
  font-size: 35px;
  margin: 30px 15px;
  color: white;
  background: var(--trans-color);
  padding: 10px;
  border-radius: 15px;
 }
 
 .footer .copyright {
  margin-top: 60px;
  font-size: 30px;
  font-weight: 500;;
 }
 .footer .copyright span {
  color: var(--main-color);
  font-weight: 900;
  font-size: 35px;
 }
/* End Footer */

/*  Start Go To Up Button */
.go-to-up {
  position: sticky;
  background: var(--main-color);
  color: white;
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 1.3;
  font-size: 45px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  z-index: 2;
  top: 88%;
  left: 95%;
  padding: 5px;
}
@media (max-width:991px) {
  .go-to-up {
  left: 92%;
  }
}

@media (max-width:767px) {
  .go-to-up {
    left: 90%;
  }
}
@media (max-width:600px) {
  .go-to-up {
    left: 85%;
  }
}
@media (max-width:350px) {
  .go-to-up {
    left: 80%;
  }
}
/*  End Go To Up Button */







